<h2>History:</h2>
<form (submit) = setValue($event)>
    <input type="date"/>
    <input type="date"/>
    <button type="submit">Search</button>
</form>
<ul class="history">
  <li *ngFor="let history of historyitems" (click)="onSelect(history)"
      [class.selected]="history === selectedHistory">
    <span class="badge">{{history.date}}</span>
    <span>From: {{history.origin}}</span>
    <span>To: {{history.destination}}</span>
    <button class="delete"
      (click)="delete(history); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedHistory">
  <h2><label>From: </label>{{selectedHistory.origin}}</h2>
  <h2><label>To: </label>{{selectedHistory.destination}}</h2>
  <h2><label>Date: </label>{{selectedHistory.date}}</h2>
  <h2><label>Message: </label>{{selectedHistory.message}}</h2>
</div>
